.friend
	width: 540px
	max-width: 95%
	margin: 20px auto
	display: flex
	align-items: center
	position: relative


	img
		width: 150px
		margin-right: 20px
	.remove
		background: $blue
		color: white
		position: absolute
		top: 0
		right: 20px
		font-size: 12px
		padding: 15px 10px

